<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="icon" href="C:\Users\nameh\Downloads\favicon_io\favicon.ico" type="image/x-icon">
</head>
<style>
    body{
        text-align: center;
        #info{
            font-size: 21px;
        }
    }
</style>
<body>
    <form>
        <br><br><br><br><br>
        <main id="info" class="container"> 수식 공식이 포함된 이미지를 LATEX 문법 text로 바꿔 주는 웹 사이트입니다.</main>
        <br><br><br><br><br>
        <button id='help' type="button">도움말</button>      
        <button id='start' type="button">시작</button> 
    </form>
</body>
</html>