<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <style>
    body{
        text-align: center;
        #a{
            font-size: 64px;
        }
        #b{
            font-size: 32px;
        }
    }
</style>
</head>
<body>
    <main id="a" class="container">Login 성공</main>
    <main id="b" class="container">Main Page로 이동합니다...</main>
    <script>
        function redirectionToLogin(){
            window.location.href='templates/Main.html';
        }
        setTimeout(redirectionToLogin,2222);
    </script>
</body>
</html>