<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="L.css" rel="stylesheet"/>
</head>
<body>
    <form><pre>








        ID : <input id='userid' type='text'/><br>
        PW : <input id='pwd' type='password'/>
        
        <button id='loginBtn' type="button">LogIn</button> 

    </pre>
    </form>
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"
            value="{{ form.username.value|default_if_none:'' }}"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"
            value="{{ form.password.value|default_if_none:'' }}"><br>

        <button type="submit" id="li">Log in</button>
    </form>
    &nbsp;&nbsp;&nbsp;
    <a href='/users/signup'><button type="button" id="su">Sign up</button>
</body>
</html>