<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="icon" href="C:\Users\nameh\Downloads\favicon_io\favicon.ico" type="image/x-icon">
    <style>
    body{
        text-align: center;
        #a{
            font-size: 64px;
        }
        #b{
            font-size: 32px;
        }
    }
</style>
</head>
<body>
    <main id="a" class="container">Login 성공</main>
    <main id="b" class="container">Main Page로 이동합니다...</main>
    <script>
        function redirectionToLogin(){
            window.location.href='templates/Main.html';
        }
        setTimeout(redirectionToLogin,2222);
    </script>
</body>
</html>